.molde-system {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.molde-body {
  display: flex;
  flex: 1;
}

.molde-content {
  flex: 1;
  padding: 32px;
  background-color: #fafafa;
}
